


<h1> Notiver Attempt </h1> 


<!-- Fix to be a grid -->
<textarea id="textExample" style="border: 1px solid #BBB; color:#444" rows="4" cols="60"></textarea>

<section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button (click)="sendMessageToServer()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>save</mat-icon>
          </button>
        </div>
    </div>
    </div>
</section>