
  
h1{
	text-align:center;
	font-size:4em;
	margin-top:5%;
  font-family: 'Source Sans Pro', sans-serif;
	-webkit-animation: colorFade 5s;
	-moz-animation: colorFade 5s;
    animation: colorFade 5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.main-container {
	display: flex;
	flex-direction: column;
	color: #fff;
	height: 100%;
}
.main-container section {
	flex: 5;
}