


<div class = "Aligner">
    <div class = "Aligner-item">
        <h1> Notiver</h1> 
        <div id="window">
        <div id="buttons">
      <!-- <a href="#" id="minimize"></a>
      <a href="#" id="resize"></a>
      <a href="#" id="close"></a> -->
        <button mat-mini-fab color="primary" (click)="getMessageFromServer()" mat-fab color="primary" aria-label="file icon" id="minimize">
        <mat-icon>insert_drive_file</mat-icon>
      </button>

      <button mat-mini-fab color="primary" (click)="sendMessageToServer()" mat-fab color="primary" aria-label="Save icon" id="close">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    
    <div class="container"> <p contenteditable="true" class="editable"> Document Title</p> </div>
    <textarea (change)= "autosaveContent()" id="textarea"></textarea>

</div>
</div>

</div>


   